<div class='container'>
	<h1 class='text-center'>Review Form</h1>
	<h4>formID: {{reviewData.formId}}</h4>
	<h3>Serial Number: {{reviewData.sn}}</h3>
	<h3>Item Record</h3>

	<form class='form-horizontal'>
		<div class='form-group formGroupMargin' ng-repeat='item in forms.itemRecord'>
			<label class='control-label col-sm-2'>{{item.Description}}</label>
			<div class='col-sm-10'>
				<p ng-if='!item.select && !item.radio && !item.checkbox' class='itemRecorditem'>
				{{reviewData.itemRecord[item.id]}}
				</p>
				<p ng-if='item.select' class='itemRecorditem'>
					{{reviewData.itemRecord[item.id].select}}
				</p>
			</div>
		</div>
	</form>



	<!-- <div ng-repeat='item in reviewData.itemRecord'>
		{{forms.itemRecord[$index].Description}} ==>> {{item}}
	</div> -->

	<h3>Steps</h3>
	
	<table class='table table-bordered'>
		<tbody ng-repeat='step in forms.steps'>
			<tr>
				<td class='tableHead'>Step</td>
				<td class='tableHead'>{{forms.steps[$index].type}} | {{forms.steps[$index].Description}}</td>
				<td class='tableHead'>Quantity</td>
				<td class='tableHead'>Options</td>
				<td class='tableHead'>Comment</td>
			</tr>
			<tr ng-repeat='item in step.list'>
				<td>{{step.step}}.{{$index+1}}</td>
				<td>{{forms.steps[$parent.$index].list[$index].Description}}</td>
				<td>{{reviewData.step[step.step][$index+1].qty}}</td>
				<td>
					<!-- if has radio option-->
					<div ng-if='reviewData.step[step.step][item.sub_step].radio'>
						{{item.radio.name}} -
						{{reviewData.step[step.step][item.sub_step].radio}}
					</div> 

					<!-- if has checkbox option -->
					<div ng-if='reviewData.step[step.step][item.sub_step].checkbox'>
						{{item.checkbox.name}} -
						<label class='normalFont' ng-repeat='(key, value) in reviewData.step[step.step][item.sub_step].checkbox' ng-if='value'>	
						{{key}}&nbsp;
						</label>
					</div> 

					<!-- if has select option -->
					<div ng-if='reviewData.step[step.step][item.sub_step].select'>
						{{item.select.name}} -
						{{reviewData.step[step.step][item.sub_step].select}}
					</div>
				</td>
				<td>{{reviewData.step[step.step][item.sub_step].comment}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- {{forms}} -->