<div class='container'>
	<h1 class='text-center'>Review Form</h1>

	<div class='row'>
		<div class='col-sm-6 col-sm-push-5'>	
			<div class='col-xs-6'>
				<h4>Status:</h4> {{travelerData.status}}
			</div>
			<div class='col-xs-6'>
				<form role='form'>
					<div class='form-group'>
						<label for='reviewBy'>Review By:</label>
						<input type="text" class='form-control' id='reviewBy' ng-model='travelerData.reviewBy'>
					</div>
					<span>
						<button class='btn btn-warning btn-sm'>
							<i class="fa fa-pencil-square-o" aria-hidden="true" ng-click='goBack()'> Edit</i>							
						</button>
					</span>
					<span>
						<button class='btn btn-danger btn-sm' ng-click='review("reject")'>
							<i class='fa fa-times' aria-hidden="true"> Reject</i>							
						</button>
					</span>
					<span>
						<button class='btn btn-info btn-sm' ng-click='review("complete")'>
							<i class="fa fa-check" aria-hidden="true"> Complete</i>							
						</button>
					</span>
				</form>
			</div>
		</div>
		<div class='col-sm-6 col-sm-pull-6'>
			<h4>Doc. {{forms.formNo}} Rev. {{forms.formRev}} </h4>
			<h3>Serial Number: {{travelerData.sn}}</h3>
		</div>
	</div>

	<h3>Item Record</h3>
			
	<table class='table table-bordered'>
		<tbody>
			<tr>
				<td ng-repeat='item in forms.itemRecord' class='tableHead'>{{item.Description}}</td>
			</tr>
			<tr>
				<td ng-repeat='item in forms.itemRecord'>
					<div ng-if='!item.select && !item.radio && !item.checkbox'>{{travelerData.itemRecord[item.id]}}</div>
					<div ng-if='item.select'>{{travelerData.itemRecord[item.id].select}}</div>
				</td>
			</tr>
		</tbody>
	</table>

	<h3>Steps</h3>
	
	<table class='table table-bordered'>
		<tbody ng-repeat='step in forms.steps'>
			<tr>
				<td class='tableHead'>Step</td>
				<td class='tableHead'>{{forms.steps[$index].type}} | {{forms.steps[$index].Description}}</td>
				<td class='tableHead'>Quantity</td>
				<td class='tableHead'>Options</td>
				<td class='tableHead'>Comment</td>
				<td class='tableHead'>Editor</td>
			</tr>
			<tr ng-repeat='item in step.list'>
				<td>{{step.step}}.{{$index+1}}</td>
				<td>{{forms.steps[$parent.$index].list[$index].Description}}</td>
				<td>{{travelerData.step[step.step][$index+1].qty}}</td>
				<td>

					<div ng-repeat='(key, op) in travelerData.step[step.step][$index+1].options'>
						{{item.options[key].name}} -
						<span ng-if='item.options[key].type==="checkbox"' >
							<span ng-if='op[$index]' ng-repeat='checkOp in item.options[key].options'>{{checkOp}} </span>
						</span>
						<span ng-if='item.options[key].type==="select"'>{{item.options[key].options[op]}}</span>

						<span ng-if='item.options[key].type==="radio"'>{{item.options[key].options[op]}}</span>
					</div>

					<!-- if has radio option-->
					<div ng-if='travelerData.step[step.step][item.sub_step].radio'>
						{{item.radio.name}} -
						{{travelerData.step[step.step][item.sub_step].radio}}
					</div> 

					<!-- if has checkbox option -->
					<div ng-if='travelerData.step[step.step][item.sub_step].checkbox'>
						{{item.checkbox.name}} -
						<label class='normalFont' ng-repeat='(key, value) in travelerData.step[step.step][item.sub_step].checkbox' ng-if='value'>	
						{{key}}&nbsp;
						</label>
					</div> 

					<!-- if has select option -->
					<div ng-if='travelerData.step[step.step][item.sub_step].select'>
						{{item.select.name}} -
						{{travelerData.step[step.step][item.sub_step].select}}
					</div>



				</td>
				<td>{{travelerData.step[step.step][item.sub_step].comment}}</td>
				<td>
					{{travelerData.step[step.step][item.sub_step].editBy}} 
					<br>
					{{travelerData.step[step.step][item.sub_step].editTime | date: 'medium'}} 
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- {{forms}} -->