<div class='container'>
	<div class='row'>
		<div class='col-md-6'>
			<h2>Search Traveler</h2>
			<div id='sn-search-input'>
				<div class='input-group col-md-12'>
					<input type="number" class='form-control input-lg' placeholder="Serial Number" ng-model='searchInput'>
					<span class='input-group-btn'>
						<button class='btn btn-info btn-lg' type='button' ng-click='search()'>
							<i class='glyphicon glyphicon-search'></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if='isSearch'>
	<div ng-if='result.length > 0'>
		<h2>Total Data matchs: {{result.length}}</h2>
		<table class='table table-bordered table-striped'>
			<thead>
				<tr>
					<th>_ID</th>
					<th>Form ID</th>
					<th>Serial Number</th>
					<th>Created At</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='item in result'>
					<td>{{item._id}}</td>
					<td>{{item.formId}}</td>
					<td>{{item.sn}}</td>
					<td>{{item.createAt | date: 'medium'}}</td>
					<td><i class="fa fa-pencil-square-o fa-2x edit-icon" ng-click='editTraveler(item._id, item.formId)'></i></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-if='result.length < 1'>
		<br>
		<div class='jumbotron'>
		<h1>No data match (╯°□°)╯︵ ┻━┻</h1>
		</div>	
	</div>
</div>


{{searchInput}}
<br>
{{result}}
