<div class='container-fluid hidden-print'>
	<div class='row'>
		<div class='col-sm-4'>
			<h2>Search Traveler</h2>
			
			<form class='form-inline well'>
				<div class='form-group'>
					<select class='form-control' ng-model='searchOption'>
						<option value='docNum'>Doc#</option>
						<option value='sn'>SN</option>
					</select>
				</div>
				<div class='form-group input-group'>
					<input type="text" class='form-control' placeholder='Search' ng-model='searchInput'>
					<span class='input-group-btn'>
						<button class='btn btn-primary' type='button' ng-click='search()'>
							<i class='glyphicon glyphicon-search'></i>
						</button>
					</span>
				</div>
			</form>
		</div> <!-- col-md-6 -->

		<div class='col-sm-8' ng-if='isSearch && result.length > 0'>
			<div class='col-md-4'>
				<h5><strong>Completed:</strong> {{stat.COMPLETED}}</h5>
				<h5><strong>Pending For Review:</strong> {{stat['PANDING FOR REVIEW']}}</h5>
				<h5><strong>Open:</strong> {{stat.OPEN}}</h5>
				<h5><strong>Reject:</strong> {{stat.REJECT}}</h5>
				<hr>
				<h5><strong>Process Percentage ( [complated+rejcect] / total):</strong> {{stat.pecComplete}}%</h5>
				<h5><strong>Rejected Percentage:</strong> {{stat.pecReject}}%</h5>
				<!-- <h5><strong>{{totalTimeSpend()}}</strong></h5> -->
			</div>
			<div class='col-xs-4'>
				<canvas id="pie" class="chart chart-pie"
  					chart-data="pieData1" chart-labels="pieLabels1" chart-options="options">
				</canvas> 
				<h5 class='text-center'><strong>Distribution Chart</strong></h5>
			</div>
			<div class='col-xs-4'>
				<canvas id="pie" class="chart chart-pie"
  					chart-data="pieData2" chart-labels="pieLabels2" chart-options="options">
				</canvas> 
				<h5 class='text-center'><strong>Process Chart</strong></h5>
			</div>
		</div>
	</div>
</div>

<div ng-if='isSearch' class='hidden-print'>
	<div ng-if='result.length > 0'>
		<h2>Total Data matchs: {{result.length}}</h2>
		<table class='table table-bordered table-striped'>
			<thead>
				<tr>
					<th>Doc#</th>
					<th>
						<a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
            			Status
            			<span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
            			<span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up">
            		</th>
            		<th>Form</th>
            		<th>
						<a href="#" ng-click="sortType = 'sn'; sortReverse = !sortReverse">
            			Serial Number
            			<span ng-show="sortType == 'sn' && !sortReverse" class="fa fa-caret-down"></span>
            			<span ng-show="sortType == 'sn' && sortReverse" class="fa fa-caret-up">
            		</th>
            		<th>
						<a href="#" ng-click="sortType = 'createAt'; sortReverse = !sortReverse">
            			Created At
            			<span ng-show="sortType == 'createAt' && !sortReverse" class="fa fa-caret-down"></span>
            			<span ng-show="sortType == 'createAt' && sortReverse" class="fa fa-caret-up">
            		</th>
            		<!-- <th>Time Spend per Traveler</th> -->
					<th>Edit</th>
					<th>Delete</th>
					<!-- <th>Print</th> -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='item in result | orderBy:sortType:sortReverse'>
					<td>{{item.itemRecord.docNum}}</td>
					<td>{{item.status}}</td>
					<td>Doc.{{item.formNo}} Rev. {{item.formRev}}</td>
					<td>{{item.sn}}</td>
					<td>{{item.createAt | date: 'medium'}}</td>
					<!-- <td>{{timeSpend(item)}}</td> -->
					<td><i class="fa fa-pencil-square-o fa-2x edit-icon" ng-click='editTraveler(item._id, item.formId)'></i></td>
					<td><i class="fa fa-trash-o fa-2x trash-icon" ng-click='removeTraveler(item._id, $index)'></i></td>
					<!-- <td><i class="fa fa-print fa-2x edit-icon" ng-click='printTraveler($index)'></i></td> -->
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-if='result.length < 1'>
		<br>
		<div class='jumbotron'>
		<h2>No data match (╯°□°)╯︵ ┻━┻</h2>
		</div>	
	</div>
</div>


<!-- <pre>{{result |json}}</pre> -->
<!-- <div ui-view='formReview'  id='div-id-selector'></div> -->
