<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-4'>
			<h2>Search Traveler</h2>
			
			<form class='form-inline well'>
				<div class='form-group'>
					<select class='form-control' ng-model='searchOption'>
						<option value='docNum'>Doc#</option>
						<option value='sn'>SN</option>
					</select>
				</div>
				<div class='form-group input-group'>
					<input type="text" class='form-control' placeholder='Search' ng-model='searchInput'>
					<span class='input-group-btn'>
						<button class='btn btn-info' type='button' ng-click='search()'>
							<i class='glyphicon glyphicon-search'></i>
						</button>
					</span>
				</div>
			</form>

		</div> <!-- col-md-6 -->

		<div class='col-md-8'>
			<div class='col-md-4'>
				<h5>Completed: {{stat.COMPLETED}}</h5>
				<h5>Panding For Review: {{stat['PANDING FOR REVIEW']}}</h5>
				<h5>Open: {{stat.OPEN}}</h5>
				<h5>Reject: {{stat.REJECT}}</h5>
				<hr>
				<h5>Process Percentage ( (complated+rejcect) / total): {{stat.pecComplete}}%</h5>
				<h5>Rejected Percentage: {{stat.pecReject}}%</h5>
			</div>
			<div class='col-md-4'>
				<canvas id="pie" class="chart chart-pie"
  					chart-data="pieData1" chart-labels="pieLabels1" chart-options="options">
				</canvas> 
			</div>
			<div class='col-md-4'>
				<canvas id="pie" class="chart chart-pie"
  					chart-data="pieData2" chart-labels="pieLabels2" chart-options="options">
				</canvas> 
			</div>
		</div>
	</div>
</div>

<div ng-if='isSearch'>
	<div ng-if='result.length > 0'>
		<h2>Total Data matchs: {{result.length}}</h2>
		<table class='table table-bordered table-striped'>
			<thead>
				<tr>
					<th>Doc#</th>
					<th>Status</th>
					<th>Form</th>
					<th>Serial Number</th>
					<th>Created At</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='item in result'>
					<td>{{item.itemRecord.docNum}}</td>
					<td>{{item.status}}</td>
					<td>Doc.{{item.formNo}} Rev. {{item.formRev}}</td>
					<td>{{item.sn}}</td>
					<td>{{item.createAt | date: 'medium'}}</td>
					<td><i class="fa fa-pencil-square-o fa-2x edit-icon" ng-click='editTraveler(item._id, item.formId)'></i></td>
					<td><i class="fa fa-trash-o fa-2x trash-icon" ng-click='removeTraveler(item._id)'></i></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-if='result.length < 1'>
		<br>
		<div class='jumbotron'>
		<h1>No data match (╯°□°)╯︵ ┻━┻</h1>
		</div>	
	</div>
</div>


<!-- {{searchInput}}
<br>
{{result}} -->
