<div class='container-fluid'>
  <form role='form'>
    <div class='form-group'>
      <label for='select-formId'>Select a Template:</label>
      <select class='form-control' id='select-formId' ng-model='formId' ng-change='updateForm()' ng-disabled='travelerData.created'>
        <option value="">---Please select---</option>
        <!-- <option ng-repeat='option in formList' value='{{option._id}}'>Publish {{option.isPublish}} Doc. {{option.formNo}} Rev. {{option.formRev}}</option> -->
        <optgroup label="Publish">
          <option ng-repeat='option in formList | filter:{isPublish:true}' value='{{option._id}}'>Doc. {{option.formNo}} Rev. {{option.formRev}}</option>
        </optgroup>
        <optgroup label="Not Publish">
          <option ng-repeat='option in formList | filter:{isPublish:false}' value='{{option._id}}'>Doc. {{option.formNo}} Rev. {{option.formRev}}</option>
        </optgroup>
      </select>
    </div>
  </form>
  <br>
  <div class='row'>
		<div class='col-sm-6'>

      <form class='form-horizontal' role='form' >
        <div class='form-group'>
          <label class='control-label col-sm-2' for='formNo'>Doc. #:</label>
          <div class='col-sm-10'>
            <input type="text" class='form-control' id='formNo' placeholder='RF-750-010-327' ng-model='create.formNo'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-2' for='formRev'>Rev.:</label>
          <div class='col-sm-10'>
            <input type="text" class='form-control' id='formRev' placeholder='09' ng-model='create.formRev'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-2' for='customer'>Customer:</label>
          <div class='col-sm-10'>
            <input type="text" class='form-control' id='customer' placeholder='CHECK POINT' ng-model='create.customer'>
          </div>
        </div>
        <hr>
      </form>


      <form class='form-horizontal' role='form' ng-submit='addItemRecord()'>
        <h4>
          Item Record 
          <button class='btn btn-primary pull-right' type='button' ng-click='addItemRecord()'>
            <i class="fa fa-plus" aria-hidden="true"> Record</i>
          </button>
        </h4><br>
        <div class='form-group'>
          <label class='control-label col-sm-2' for='itemRecord'>Record:</label>
          <div class='col-sm-10'>
            <input type="text" class='form-control' id='itemRecord' placeholder='Product Model' ng-model='inputItemRecord'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-2'>Type: </label>
          <div class='col-sm-10'>
          <label class='radio-inline'>
              <input type="radio" ng-model='inputItemRecordType' value='text' />
              Text
            </label>
            <label class='radio-inline'>
              <input type="radio" ng-model='inputItemRecordType' value='select' />
              Select
          </label>
          </div>
        </div>
        <div class='form-group' ng-show='inputItemRecordType=="select"'>
          <label class='control-label col-sm-2' for='selectOption'>Select Options</label>
          <div class='col-sm-10'>
            <textarea class='form-control' row='2' id='selectOption' ng-model='selectOptions' placeholder='option1,option2,option3'
              ></textarea>
          </div>
        </div>
        <hr>
      </form>

      <!-- step form -->
      <form  class='form-horizontal' role='form' ng-keyup="$event.keyCode == 13 && addStep()"'>
        <h4>
          Step
          <button class='btn btn-primary btn-sm pull-right' type='button' ng-click='addStep()'>
            <i class="fa fa-plus" aria-hidden="true"> Step</i>
          </button>
        </h4><br>
        <div class='form-group'>
          <label class='control-label col-sm-2' for ='Step'>Description:</label>
          <div class='col-sm-10'>
            <input type="text" class='form-control' id='Step' placeholder='Initial Visual Inspection' ng-model='inputStepDes'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-2' for ='steptype'>Type:</label>
          <div class='col-sm-10'>
            <input type="text" class='form-control' id='steptype' placeholder='IQC' ng-model='inputStepType'>
          </div>
        </div>
        <hr>
      </form>

      <form class='form-horizontal' role='form' ng-keyup="$event.keyCode == 13 && addSubStep()">
        <div ng-show='create.steps'>
          <h4>
            Sub-Step
            <button class='btn btn-primary btn-sm pull-right' type='button' ng-click='addSubStep()' ng-disabled='! tempSub.selectStepForSubStep || !tempSub.inputSubStepDes'>
              <i class="fa fa-plus" aria-hidden="true"> Sub Step</i>
            </button>
          </h4><br>
          <div class='form-group'>
            <label class='control-label col-sm-2' for ='currentStep4Sub'>Selected Steps</label>
            <div class='col-sm-10'>
              <select class='form-control' id='currentStep4Sub' ng-model='tempSub.selectStepForSubStep'>
                <option ng-repeat='step in create.steps' value='{{$index}}'>Step:{{step.step}} Dec:{{step.Description}} Type: {{step.type}}</option>
              </select>
            </div>
          </div>
          <div class='form-group'>
            <label class='control-label col-sm-2' for='subStep'>Description:</label>
            <div class='col-sm-10'>
              <input type="text" class='form-control' id='subStep' placeholder='Inner Carton and Form' ng-model='tempSub.inputSubStepDes'>
            </div>
          </div>
        </div>
      </form>
      <form class='form-horizontal' role='form'>
        <div ng-show='create.steps'>
          <hr>
          <h4>
            Sub-Step Options
          </h4><br>
          <div class='form-group'>
            <label class='control-label col-sm-2' for ='currentSub4SubOption'>Select Sub Step</label>
            <div class='col-sm-10'>
              <select class='form-control' id='currentSub4SubOption' ng-model='tempSubOption.selectSubForOption'>
                <optgroup ng-if='step.list' ng-repeat='step in create.steps' label='Step:{{step.step}} Des:{{step.Description}}'>
                  <option ng-repeat='sub in step.list' value='{{$parent.$index}},{{$index}}'>{{step.step}}-{{sub.sub_step}}. {{sub.Description}}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class='form-group' ng-show='tempSubOption.selectSubForOption'>
            <label class='control-label col-sm-2' for='subSelectOption'>Options:</label>
            <div class='col-sm-9' >
              <select class='form-control' id='subSelectOption' ng-model='tempSubOption.subOptions.selectSubOption' ng-change='subSelectOptionChange()'>
                <option value='checkbox'>Check Box</option>
                <option value='select'>Select</option>
                <option value='radio'>Radio</option>
              </select>
            </div>
            <button 
              class='btn btn-primary btn-sm' 
              type='button' ng-click='addSubOption()' 
              ng-disabled='!tempSubOption.subOptions.option.name || !tempSubOption.subOptions.option.input'>
              <i class='fa fa-plus' aria-hidden='true'></i>
            </button>
          </div>

          <div ng-show='tempSubOption.subOptions.selectSubOption'>
            <div class='form-group'>
              <label class='control-label col-sm-2' for='subOptionName'>Description:</label>
              <div class='col-sm-10'>
                <input type="text" class='form-control' id='subOptionName' placeholder='Description' ng-model='tempSubOption.subOptions.option.name'>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-sm-2' for='subOptionInput'>Input Options:</label>
              <div class='col-sm-10'>
              <textarea class='form-control' row='2' id='subOptionInput' ng-model='tempSubOption.subOptions.option.input' placeholder='option1,option2,option3'
                ></textarea>
              </div>
            </div>
          </div> 
        </div>
      </form>
		</div>

		<div class='col-sm-6'>
      <button class='btn' ng-click='jsonView = !jsonView'>
        <i ng-show='!jsonView' class="fa fa-code-fork" aria-hidden="true"> JSON</i>
        <i ng-show='jsonView' class='fa fa-file-code-o' aria-hidden='true'> GUI</i>
      </button>
      <button class='btn' ng-click='create.isPublish = !create.isPublish'>
        <i ng-show='create.isPublish' class="fa fa-check-square-o" aria-hidden="true"> Publish</i>
        <i ng-show='!create.isPublish' class='fa fa-square-o' aria-hidden='true'> Not Publish</i>
      </button>
      <button class='btn' ng-click='save()'>
        <i class="fa fa-floppy-o" aria-hidden="true"> Save</i>
      </button>
      <button class='btn btn-warning' ng-click=''>
        <i class="fa fa-folder-open-o" aria-hidden="true"> New</i>
      </button>
      <button class='btn btn-danger' ng-click='delete()'>
        <i class="fa fa-trash-o" aria-hidden="true"> Delete</i>
      </button>
      
      <br>
      <div ng-show='!jsonView'>
      <h4 ng-show='create.formNo'>Doc. No. {{create.formNo}}</h4>
      <h4 ng-show='create.formRev'>Rev. {{create.formRev}}</h4>
      <h4 ng-show='create.customer'>Customer: {{create.customer}}</h4>
      <div ng-show='create.itemRecord' ng-init='itemRecordCollapse = true; showItemRecord = true;' >
        <hr>
        <h4>
          Item Record
          <button
            class='btn btn-default btn-xs pull-right'
            type='button'
            ng-click='itemRecordCollapse = !itemRecordCollapse; showItemRecord = !showItemRecord'
            ng-show='itemRecordCollapse'
          >
            <i class="fa fa-minus-square-o" aria-hidden="true"></i>
          </button>
          <button
            class='btn btn-default btn-xs pull-right'
            type='button'
            ng-click='itemRecordCollapse = !itemRecordCollapse; showItemRecord = !showItemRecord'
            ng-show='!itemRecordCollapse'
          >
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          </button>
        </h4>
        <lu class='dndList' dnd-list='create.itemRecord' ng-show='showItemRecord'>
          <li
            ng-repeat='record in create.itemRecord'
            dnd-draggable='record'
            dnd-moved='create.itemRecord.splice($index,1)'
            dnd-effect-allowed='move'
            dnd-dragend='modifyID(create.itemRecord, "itemRecord")'
            ng-init='editItemRecord[$index]=false'
            style='padding-top: 1px; padding-bottom: 1px;background-color:#F8F8FF'
          >
            <form class='form-horizontal' role='form'>
              <div class='form-group' style='margin-bottom: 0px'>
                <div class='col-sm-9'>
                  <h4>{{record.Description}}</h4>
                </div>
                <div class='col-sm-3'>
                  <button 
                    class='btn btn-danger btn-sm pull-right' 
                    type='button' 
                    ng-click='create.itemRecord.splice($index,1); modifyID(create.itemRecord, "itemRecord");'
                    style='margin-top: 6px;margin-right: 2px;'
                    >
                    <i class='fa fa-times' aria-hidden='true'></i>
                  </button>
                  <button 
                    class='btn btn-primary btn-sm pull-right' 
                    type='button' 
                    ng-click='editItemRecord[$index]=!editItemRecord[$index]'
                    style='margin-top: 6px;margin-right: 2px'
                    >
                    <i class='fa fa-pencil-square-o' aria-hidden='true' ></i>
                  </button>
                </div>
              </div>
              <div class='form-group' ng-if='record.select' style='margin-bottom: 0px'>
                <h4 class='col-sm-2'>Select:</h4>
                <div class='col-sm-10'>
                  <select class="form-control" style="width:auto;">
                    <option ng-repeat='op in record.select.options'>{{op}}</option>
                  </select>
                </div>
              </div>
              
              <div ng-show='editItemRecord[$index]==true' width: auto;'>
                <hr>
                <div class='form-group'>
                  <label class='control-label col-sm-2'>Record:</label>
                  <div class='col-sm-10'>
                    <input type="text" dnd-nodrag maxlength="70" class='form-control' ng-model='record.Description'>
                  </div>
                </div>
                <div class='form-group' ng-show='record.select' ng-init='editItemOptions = record.select.options'>
                  <label class='control-label col-sm-2'>Select Options:</label>
                  <div class='col-sm-10'>
                    <textarea dnd-nodrag class='form-control' ng-model='editItemOptions'></textarea>
                  </div>
                </div>
                <h5 style='color:red;'>* Please Save to update the change</h5>
                <div class='form-group' >
                  <div class='col-sm-12'>
                    <button 
                      class='btn btn-primary btn-sm pull-right' 
                      type='button' 
                      ng-click='editOption(record.select, editItemOptions); editItemRecord[$index]=!editItemRecord[$index]'>
                      <i class='fa fa-floppy-o' aria-hidden='true'></i>
                    </button>
                  </div>
                </div>
              </div>

            </form>
          </li>
        </lu>
      </div> <!-- end of item record -->

      <div ng-show='create.itemRecord' ng-init='stepsCollapse = true;'>
        <hr>
        <h4>
          Steps 
          <button
            class='btn btn-default btn-xs pull-right'
            type='button'
            ng-click='stepsCollapse = !stepsCollapse;'
            ng-show='stepsCollapse'
          >
            <i class="fa fa-minus-square-o" aria-hidden="true"></i>
          </button>
          <button
            class='btn btn-default btn-xs pull-right'
            type='button'
            ng-click='stepsCollapse = !stepsCollapse;'
            ng-show='!stepsCollapse'
          >
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          </button>
        </h4>

        <ul class='dndList' 
            dnd-list='create.steps'
            dnd-allowed-types="['step']"
            ng-show='stepsCollapse'>
          <li
            ng-repeat='step in create.steps'
            dnd-draggable='step'
            dnd-type="'step'"
            dnd-moved='create.steps.splice($index, 1)'
            dnd-effect-allowed='move'
            dnd-dragend='modifyID(create.steps, "steps")'
            ng-init='editSteps[$index]=false'
            style='padding-top: 1px; padding-bottom: 10px; background-color:#F8F8FF'
          >
            <form class='form-horizontal' role='form'>
              <div class='form-group' style='margin-bottom: 0px'>
                <div class='col-sm-1'>
                  <h4>{{step.step}}</h4>
                </div>
                <div class='col-sm-8'>
                  <input type='text' dnd-nodrag class='hideInputEffect form-control' ng-model='step.Description' maxlength="70" style='background-color:#F8F8FF'/>
                </div>
                <div class='col-sm-3'>
                  <button
                    class='btn btn-danger btn-sm pull-right'
                    type='button'
                    ng-click='create.steps.splice($index,1); modifyID(create.steps, "steps");'
                    style='margin-top: 6px;margin-right: 2px;'
                  >
                    <i class='fa fa-times' aria-hidden='true'></i>
                  </button>
                  <button 
                    class='btn btn-primary btn-sm pull-right' 
                    type='button' 
                    ng-click='editSteps[$index]=!editSteps[$index]'
                    style='margin-top: 6px;margin-right: 2px'
                    >
                    <i class='fa fa-pencil-square-o' aria-hidden='true' ></i>
                  </button>
                </div>
              </div>
              <div ng-show='editSteps[$index]==true'>
                <ul class='dndList' 
                    dnd-list='create.steps[$index].list'
                    dnd-allowed-types='["sub_step"]'>
                  <li ng-repeat='sub in create.steps[$index].list'
                      dnd-draggable='sub'
                      dnd-type='"sub_step"'
                      dnd-moved='create.steps[$parent.$index].list.splice($index,1)'
                      dnd-effect-allowed='move'
                      dnd-dragend='modifyID(create.steps[$parent.$index].list, "sub_step")'
                      ng-init='editSubSteps[$index]=false'
                      style='padding-top: 1px; padding-bottom: 10px; 
                    >
                    <form class='form-horizontal' role='form'>
                      <div class='form-group' style='margin-bottom: 0px'>
                        <div class='col-sm-1'>
                          <h4>{{step.step}}.{{sub.sub_step}}</h4>
                        </div>
                        <div class='col-sm-8'>
                          <!-- <input type='text' dnd-nodrag class='hideInputEffect form-control' ng-model='sub.Description' maxlength="70" /> -->
                          <input type='text' dnd-nodrag class='hideInputEffect form-control' ng-model='sub.Description'  />
                        </div>
                        <div class='col-sm-3'>
                          <button
                            class='btn btn-danger btn-xs pull-right'
                            type='button'
                            ng-click='create.steps[$parent.$index].list.splice($index,1);modifyID(create.steps[$parent.$index].list, "sub_step");'
                            style='margin-top: 6px;margin-right: 2px;'
                          >
                            <i class='fa fa-times' aria-hidden='true'></i>
                          </button>
                          <button 
                            class='btn btn-primary btn-xs pull-right' 
                            type='button' 
                            ng-click='editSubSteps[$index]=!editSubSteps[$index]'
                            style='margin-top: 6px;margin-right: 2px'
                            >
                            <i class='fa fa-pencil-square-o' aria-hidden='true' ></i>
                          </button>
                        </div>
                      </div>

                      <ul class='dndList'
                          dnd-list='sub.options'
                          dnd-allowed-types='["sub_step_options"]'
                          ng-show='sub.options'>
                        <li ng-repeat='op in sub.options'
                            dnd-draggable='op'
                            dnd-type='"sub_step_options"'
                            dnd-moved='sub.options.splice($index,1)'
                            dnd-effect-allowed='move'
                            style='padding-top: 1px; padding-bottom: 1px;' >
                          <div class='form-group' style='margin-bottom: 0px'>
                            <div class='col-sm-3'>
                              <h5>{{op.name}}</h5>
                            </div>
                            <div class='col-sm-6'>
                              <div ng-show='op.type==="checkbox"'>
                                <label class='checkbox-inline' ng-repeat='checkOp in op.options'>
                                  <input type="checkbox">{{checkOp}}
                                </label>
                              </div>
                              <div ng-show='op.type==="select"'>
                                <select class='form-control'>
                                  <option ng-repeat='selectOp in op.options'>
                                    {{selectOp}}
                                  </option>
                                </select>
                              </div>
                              <div ng-show='op.type==="radio"'>
                                <label class='radio-inline' ng-repeat='radioOp in op.options'>
                                  <input type="radio" name='radioOp'>{{radioOp}}
                                </label>
                              </div>
                            </div>
                            <div class='col-sm-3'>
                              <button
                                class='btn btn-danger btn-xs pull-right'
                                type='button'
                                ng-click='sub.options.splice($index,1);'
                                style='margin-top: 6px;margin-right: 2px;'
                              >
                                <i class='fa fa-times' aria-hidden='true'></i>
                              </button>
                            </div>
                          </div>
                        </li>
                      </ul>




                      <div ng-show='editSubSteps[$index] == true'> <!--sub step options edit form-->
                        <hr>
                        <ul style='padding-left: 0px'>
                          <li ng-repeat='op in sub.options' ng-init='subOption[$index] = op.options'>
                            <div class='form-group'>
                              <label class='control-label col-sm-2'>Description:</label>
                              <div class='col-sm-10'>
                                <input type="text" dnd-nodrag maxlength='50' class='form-control' ng-model='op.name'>
                              </div>
                            </div>
                            <div class='form-group'>
                              <label class='control-label col-sm-2'>Type:</label>
                              <div class='col-sm-10'>
                                <select ng-model='op.type' class='form-control'>
                                  <option value='checkbox'>Check Box</option>
                                  <option value='select'>Select</option>
                                  <option value='radio'>Radio</option>
                                </select>
                              </div>
                            </div>
                            <div class='form-group'>
                              <label class='control-label col-sm-2'>Options</label>
                              <div class='col-sm-10'>
                                <textarea dnd-nodrag class='form-control' ng-model='subOption[$index]'></textarea>
                              </div>
                            </div>
                            <h5 style='color:red;'>* Please Save to update the change</h5>
                            <div class='form-group' >
                              <div class='col-sm-12'>
                                <button 
                                  class='btn btn-primary btn-xs pull-right' 
                                  type='button' 
                                  ng-click='editOption(op, subOption[$index]);'>
                                  <i class='fa fa-floppy-o' aria-hidden='true'></i>
                                </button>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>



                    </form>
                  </li>
                </ul>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <br><br>
      </div>
      <div ng-show='jsonView'>
        <br>
			  <pre>{{create | json}}</pre>
      </div>
		</div> <!-- class col-sm-6 half page -->
	</div>
</div>
