<div name='header'>
	<h4>SN: {{forms.SN}}</h4>
	<hr>
</div>

<div name='itemRecord'>
	<div class='form-inline' role='form'>
		<div class='form-group' ng-repeat='item in forms.itemRecord'>
			<label for='{{item.Description}}'>{{item.Description}}: </label>
			<input type='text' class='form-control' id='{{item.Description}}' value='{{item.value}}'>
		</div>
	</div>
	<hr>
</div>

<div name='steps'>

	<div id='form-container'>
		<h4>Step</h4>

		<div id='status-buttons' class='text-right'>
			<a ng-class='{active: currentStep == step.step}'ng-repeat='step in forms.steps' ng-click='statusPage(step.step)'><span>{{step.step}}</span></a>
		</div>

		<div id='steps' ng-repeat='step in forms.steps'>
			<p ng-show='currentStep == step.step'>Type: {{step.type}}</p>
			<div ng-repeat='subStep in step.list'>
				<div class='jumbotron' ng-show='subStep.sub_step== currentSubStep && currentStep == step.step'>{{subStep.sub_step}}: {{subStep.Description}}</div>
			</div>
		</div>	
		<input type="button" name="next" value='next' ng-click='next()'/>
	</div> 
</div>

