<div class='container'>
<div>
	<input type='button' class='btn btn-warning btn-lg pull-right myButton' value='New' ng-click='new()'/>
	<input type='button' class='btn btn-danger btn-lg pull-right myButton' value='Delete' ng-click='delete()'/>
	<form role='form'>
		<div class='form-group'>
			<label for='select-formId'>Select a Template:</label>
			<select class='form-control' id='select-formId' ng-model='formId' ng-change='updateForm()' ng-disabled='travelerData.created'>
				<option value="">---Please select---</option>
				<option ng-repeat='option in formList |filter:{isPublish:true}' value='{{option._id}}'>Doc. {{option.formNo}} Rev. {{option.formRev}}</option>
			</select>
		</div>
	</form>
</div>

<div ng-if='!travelerData.readyReview && formId' class='container'>
<div name='header'>
	<h4>
		Serial Number: <input type="text" ng-model='travelerData.sn'/>
		Customer: {{forms.customer}}
		Status:{{travelerData.status}}	
		<span>
			<button class='btn btn-primary btn-lg pull-right' ng-click='checkReadyReview()'>
				<i class="fa fa-check" aria-hidden="true"></i> Ready for Review						
			</button>
		</span>
	</h4>
	<br>
	<hr>
</div>

<div name='itemRecord'>
	<div class='form-group'>
		<label class='control-label' for='docNumSelect'>Select Document#:</label>
		<select class='form-control' id='docNumSelect'>
			<option>1</option>
		</select>
	</div>
	<div class='form-inline' role='form'>
		<div class='form-group'>
			<label for='docNum'>Document#</label>
			<input type="text" id='docNum' class='form-control' ng-model='docNum.docNum'>
		</div>
		<div class='form-group' ng-repeat='item in forms.itemRecord'>
			<label for='{{item.Description}}'>{{item.Description}}: </label>
			<input ng-if="!item.select && !item.radio && !item.checkbox" type='text' class='form-control' id='{{item.Description}}' ng-model='travelerData.itemRecord[item.id]'>
			
			<!-- select -->
			<select class='form-control' ng-if='item.select' ng-model='travelerData.itemRecord[item.id]["select"]'>
				<option value="">---Please select---</option>
				<option ng-repeat='option in item.select.options' value='{{option}}'>
					{{option}}
				</option>
			</select>
		</div>
	</div>
	<hr>
</div>

<div name='steps'>

	<div id='form-container'>
		<h4>Step {{currentStep}}.{{currentSubStep}}</h4>

		<div id='status-buttons' class='text-right'>
			<a ng-class='{active: currentStep == step.step}' ng-repeat='step in forms.steps' ng-click='statusPage(step.step)'><span>{{step.step}}</span></a>
		</div>

		<input class='btn btn-primary myButton btn-lg pull-right' ng-if='!travelerData.readyReview' type="button" value='next' ng-click='nextStep()'/>
		<div id='steps' ng-repeat='step in forms.steps'>
			<div class='page-header' ng-if='currentStep == step.step'>
			 <h4>{{step.type}} :: {{step.Description}}</h4>
			</div>
			<!-- Step -->
			<div ng-repeat='subStep in step.list'>

				<!-- form -->
				<form class='form-horizontal' role='form' ng-show='subStep.sub_step== currentSubStep && currentStep == step.step'>
					<h4><strong>{{subStep.Description}}</strong></h4>
					<div class='form-group'>
						<label class='control-label col-sm-2'>Qulity: </label>
						<div class='col-sm-10'>
							<input 
								type='number' 
								class='form-control' 
								placeholder='0' 
								ng-model='travelerData.step[step.step][subStep.sub_step]["qty"]'
								ng-change='appendSubStepEditInfo()'>
						</div>
					</div>

					<div ng-if='subStep.options'>
						<div class='form-group' ng-repeat='op in subStep.options'>
							<label class='control-label col-sm-2'>{{op.name}}:</label>
							<div class='col-sm-10'>
								<div ng-if='op.type ==="checkbox"'>
								<!-- checkbox -->
									<label
										class='checkbox-inline' 
										ng-repeat='checkOp in op.options'
									>
										<input 
											type="checkbox" 
											value='{{checkOp}}'
											ng-model='travelerData.step[step.step][subStep.sub_step]["options"][$parent.$index][$index]'
											ng-change='appendSubStepEditInfo()'
											>{{checkOp}}
									</label>
								</div>
								<div ng-if='op.type ==="select"'>
								<!-- select -->
									<select 
										class='form-control'
										ng-model='travelerData.step[step.step][subStep.sub_step]["options"][$parent.$index]'
										ng-change='appendSubStepEditInfo()'>
										<option value=''>---Please select---</option>
										<option ng-repeat='selectOp in op.options'
												value='{{$index}}'>{{selectOp}}</option>
									</select>
								</div>
								<!-- radio -->
								<div ng-if='op.type ==="radio"'>
									<label ng-repeat='radioOp in op.options'
										   class='radio-inline'>
										<input 
											type="radio"
											name="radio"
											value='{{$index}}'
											ng-model='travelerData.step[step.step][subStep.sub_step]["options"][$parent.$index]'
											ng-change='appendSubStepEditInfo()'
											>{{radioOp}}
									</label>
								</div>
							</div>
						</div>
					</div>

					<!-- radio -->
					<!-- <div ng-if='subStep.radio' class='form-group'>
						<label class='control-label col-sm-2'>{{subStep.radio.name}}</label>
						<div class='col-sm-10'>
							<div ng-repeat='option in subStep.radio.options'>
								<div class='radio'>
									<label><input 
										type='radio' 
										name='radio' 
										value='{{option}}' 
										ng-model='travelerData.step[step.step][subStep.sub_step]["radio"]'
										ng-change='appendSubStepEditInfo()'
										>{{option}}
									</label>
								</div>
							</div>
						</div>
					</div> -->

					<!-- checkbox -->
<!-- 					<div ng-if='subStep.checkbox' class='form-group'>
						<label class='control-label col-sm-2'>{{subStep.checkbox.name}}</label>
						<div class='col-sm-10'>
							<div ng-repeat='option in subStep.checkbox.options'>
								<div class='checkbox'>
									<label><input 
										type='checkbox' 
										value='{{option}}' 
										ng-model='travelerData.step[step.step][subStep.sub_step]["checkbox"][option]'
										ng-change='appendSubStepEditInfo()'
										>{{option}}
									</label>
								</div>
							</div>
						</div>
					</div> -->
					
					<!-- select -->
	<!-- 				<div ng-if='subStep.select' class='form-group'>
						<label class='control-label col-sm-2'>{{subStep.select.name}}</label>
						<div class='col-sm-10'>
							<select class='form-control' ng-model='travelerData.step[step.step][subStep.sub_step]["select"]' ng-change='appendSubStepEditInfo()'>
								<option value="">---Please select---</option>
								<option ng-repeat='option in subStep.select.options' value='{{option}}'>
									{{option}}
								</option>
							</select>
						</div>
					</div>
 -->
					<!-- comment -->
					<div class='form-group'>
						<label for='comment' class='control-label col-sm-2'>Comment: </label>
						<div class='col-sm-10'>
							<textarea class='form-control' row='5' id='comment' ng-model='travelerData.step[step.step][subStep.sub_step]["comment"]' ng-change='appendSubStepEditInfo()'
							></textarea>
						</div>
					</div>
				</form>
			</div>

			<!-- status sub page -->
			<div id='status-buttons-sub' class='text-right'>
				<a ng-class='{active: currentSubStep == subStep.sub_step}' ng-repeat='subStep in step.list' ng-if='currentStep==step.step' ng-click='statusSubPage(subStep.sub_step)'><span>{{step.step}}.{{subStep.sub_step}}</span></a>
			</div>
		</div>	

		
	</div> 

	
</div>
</div>

<div ng-if='travelerData.readyReview' ui-view='formReview'></div>

<br>
<!-- <input class='btn btn-primary myButton btn-lg pull-right' ng-if='!readySubmit' type="button" value='next' ng-click='nextStep()'/> -->
<input class='btn btn-primary myButton btn-lg pull-right' ng-if='travelerData.readyReview && !travelerData.created' type="button" value='submit' ng-click='submit()'/>
<input class='btn btn-primary myButton btn-lg pull-right'  type='button' value='Save/Update' ng-click='save()'/>
<input class='btn btn-primary myButton btn-lg pull-right' ng-if='travelerData.readyReview' type='button' value='Go Back' ng-click='goBack()'/>


<br>
<br>
<br>
<br>
travelerData: <pre>{{travelerData |json}}</pre><br>
formTemplate: <pre>{{forms |json}}</pre><br>
formId{{formId}}
</div>