.tableHead{
	background-color: #F0F0F0;
	font-weight: bold;
}

.itemRecorditem{
	padding-top: 7px;
	padding-right: 15px;
	padding-left: 15px;
}

.formGroupMargin{
	margin-bottom: 0px;
}
.reviewPageBtn{
	margin-top: 2px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

td {
	padding: 1px;
}