.edit-icon:hover{
	color:blue;
	cursor:pointer;
}

.trash-icon:hover{
	color:red;
	cursor:pointer;
}

.printOnly {
   display : none;
}

@media print {
    .printOnly {
       display : block;
    }
}